{{define "system/setting.html"}}
<!--_meta 作为公共模版分离出去-->
{{template "public/meta.html" .}}
<!--/meta 作为公共模版分离出去-->

    <title>系统管理-系统设置</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_header 作为公共模版分离出去-->
{{template "public/header.html" .}}
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
{{template "public/menu.html" .}}
<!--/_menu 作为公共模版分离出去-->
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/admin/index" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">系统管理</span>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">系统设置</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <form class="form form-horizontal" id="form-article-add" method="post" action="/admin/system_setting_save">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>系统名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysTitle}}" placeholder="" id="sys_title" name="sys_title">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">公司名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysCompany}}" placeholder="" id="sys_company" name="sys_company">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">开发人员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysDev}}" placeholder="" id="sys_dev" name="sys_dev">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">联系QQ：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysQq}}" placeholder="" id="sys_qq" name="sys_qq">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">联系电话/手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysPhone}}" placeholder="" id="sys_phone" name="sys_phone">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>公司备案：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{.setting.SysBeian}}" placeholder="" id="sys_beian" name="sys_beian">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <input type="hidden" name="id" value="{{.setting.Id}}">
                <button class="btn btn-secondary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button  class="btn btn-default radius" type="button" >&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</section>

<!--_footer 作为公共模版分离出去-->
{{template "public/footer.html" .}}
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->

<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
{{end}}