{{define "users/users_info.html"}}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/h-ui.lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link href="/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="/static/h-ui.lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
    <img class="avatar size-XL l" src="{{.users.Uface}}">
    <dl style="margin-left:80px; color:#fff">
        <dt><span class="f-18">{{.users.Username}}</span> <span class="pl-10 f-12">积分：{{.users.Uscore}}</span></dt>
        <dd class="pt-10 f-12" style="margin-left:0">
            {{if ne .users.Uremark  ""}}
                {{.users.Uremark}}
            {{else}}
                这家伙很懒，什么也没留下！
            {{end}}
        </dd>
    </dl>
</div>
<div class="pd-20">
    <table class="table">
        <tbody>
        <tr>
            <th class="text-r" width="80">角色：</th>
            <td>{{.users.TypeName}}</td>
        </tr>
        <tr>
            <th class="text-r">手机：</th>
            <td>{{.users.Mobile}}</td>
        </tr>
        <tr>
            <th class="text-r">状态：</th>
            <td >
                {{if eq .users.Ustatus 1}}<span class="label label-success radius">已启用</span>
                {{else if eq .users.Ustatus 2}}<span class="label label-warning radius">风控中</span>
                {{else if eq .users.Ustatus 3}}<span class="label label-danger radius">永久封禁</span>
                {{end}}

            </td>
        </tr>
        <tr>
            <th class="text-r">最后登录：</th>
            <td>{{.users.LastDatetime}}</td>
        </tr>
        <tr>
            <th class="text-r">注册时间：</th>
            <td>{{.users.AddDatetime}}</td>
        </tr>

        </tbody>
    </table>
</div>
<!--_footer 作为公共模版分离出去-->
{{template "public/footer.html" .}}
<!--/_footer /作为公共模版分离出去-->

</body>
</html>
{{end}}
